.TodoApp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-container{
  margin-top: 3vh;
  gap: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: 70%;
  border: 1px solid grey;
}

.todo-list{
  display: flex;
  margin-top: 2vh;
}

.todo-list-item{
    cursor: pointer;
    margin-bottom: 1vh;
    border: none;
    background-color: rgb(249, 249, 249);
    border-radius: 3px;
    padding: 8px;
    width: 100%;
}

.remove-button{
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(244, 177, 148);
  cursor: pointer;

  &:hover{
    background-color: rgb(215, 141, 110);
  }
}